body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.queue-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 50px auto;
    max-width: 300px;
}

h1 {
    font-size: 28px;
    color: #009688;
}

button {
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    padding: 20px 30px;
    cursor: pointer;
}

button:hover {
    background-color: #00796B;
}

#current-queue {
    font-weight: bold;
    font-size: 36px;
    color: #009688;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 20%;
}

.popup p {
    font-size: 24px;
    color: white;
}
#newnum {
    position: absolute;
    top: 0;
    right: 0;
}
#setnum {
    position: absolute;
    top: 0;
    left: 0;
}
#fullscreen-button {
    font-size: 12px; /* ปรับขนาดตามที่คุณต้องการ */
    padding: 5px 10px; /* ปรับขนาดตามที่คุณต้องการ */
    transition: opacity 0.3s ease; /* เพิ่มการแอนิเมชันการเปลี่ยนแปลงความโปร่งใส */
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}

#fullscreen-button.hidden {
    opacity: 0;
}


